@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #1d91cc;
  --color-tint-5: #77bde0;
  --color-tint-4: #a5d3eb;
  --color-tint-3: ##bbdef0;
  --color-tint-2: ##d2e9f5;
  --color-tint-1: #e8f4fa;
  --color-shade-5: #061d29;
  --color-shade-4: #092b3d;
  --color-shade-3: #0c3a52;
  --color-shade-2: #11577a;
  --color-shade-1: #1774a3;
  --color-black: #0c0c0c;
  --color-gray-9: #202020;
  --color-gray-8: #404040;
  --color-gray-7: #606060;
  --color-gray-6: #868686;
  --color-gray-5: #adadad;
  --color-gray-4: #cbcbcb;
  --color-gray-3: #dfdfdf;
  --color-gray-2: #ededed;
  --color-gray-1: #f9f9f9;
  --color-error: #c30000;
  --color-error-light1: #ed2e2e;
  --color-error-light2: #fff2f2;
  --color-success: #00966d;
  --color-success-light1: #00ba88;
  --color-success-light2: #f3fdfa;
  --color-warning: #a9791c;
  --color-warning-light1: #f4b740;
  --color-warning-light2: #fff8e1;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-tint-5: var(--color-tint-5);
  --color-tint-4: var(--color-tint-4);
  --color-tint-3: var(--color-tint-3);
  --color-tint-2: var(--color-tint-2);
  --color-tint-1: var(--color-tint-1);
  --color-shade-5: var(--color-shade-5);
  --color-shade-4: var(--color-shade-4);
  --color-shade-3: var(--color-shade-3);
  --color-shade-2: var(--color-shade-2);
  --color-shade-1: var(--color-shade-1);
  --color-black: var(--color-black);
  --color-gray-9: var(--color-gray-9);
  --color-gray-8: var(--color-gray-8);
  --color-gray-7: var(--color-gray-7);
  --color-gray-6: var(--color-gray-6);
  --color-gray-5: var(--color-gray-5);
  --color-gray-4: var(--color-gray-4);
  --color-gray-3: var(--color-gray-3);
  --color-gray-2: var(--color-gray-2);
  --color-gray-1: var(--color-gray-1);
  --color-error: var(--color-error);
  --color-error-light1: var(--color-error-light1);
  --color-error-light2: var(--color-error-light2);
  --color-success: var(--color-success);
  --color-success-light1: var(--color-success-light1);
  --color-success-light2: var(--color-success-light2);
  --color-warning: var(--color-warning);
  --color-warning-light1: var(--color-warning-light1);
  --color-warning-light2: var(--color-warning-light2);

  --text-display-1: 64px;
  --text-display-1--line-height: 140%;
  --text-display-1--font-weight: bold;

  --text-display-2: 56px;
  --text-display-2--line-height: 120%;
  --text-display-2--font-weight: bold;

  --text-heading-1: 44px;
  --text-heading-1--line-height: 140%;
  --text-heading-1--font-weight: bold;

  --text-heading-2: 40px;
  --text-heading-2--line-height: 140%;
  --text-heading-2--font-weight: bold;

  --text-heading-3: 32px;
  --text-heading-3--line-height: 140%;
  --text-heading-3--font-weight: bold;

  --text-heading-4: 24px;
  --text-heading-4--line-height: 140%;
  --text-heading-4--font-weight: bold;

  --text-heading-5: 20px;
  --text-heading-5--line-height: 140%;
  --text-heading-5--font-weight: bold;

  --text-heading-6: 16px;
  --text-heading-6--line-height: 140%;
  --text-heading-6--font-weight: bold;

  --text-heading-7: 20px;
  --text-heading-7--line-height: 180%;
  --text-heading-7--font-weight: 600;

  --text-body-xl: 20px;
  --text-body-xl--line-height: 180%;
  --text-body-xl--font-weight: 500;

  --text-body-lg: 18px;
  --text-body-lg--line-height: 180%;
  --text-body-lg--font-weight: 500;

  --text-body-md: 16px;
  --text-body-md--line-height: 180%;
  --text-body-md--font-weight: 500;

  --text-body-sm: 14px;
  --text-body-sm--line-height: 180%;
  --text-body-sm--font-weight: 500;

  --text-caption-lg: 14px;
  --text-caption-lg--line-height: 180%;
  --text-caption-lg--font-weight: bold;

  --text-caption-md: 12px;
  --text-caption-md--line-height: 180%;
  --text-caption-md--font-weight: 500;

  --text-caption-sm: 10px;
  --text-caption-sm--line-height: 180%;
  --text-caption-sm--font-weight: bold;

  --text-button-lg: 16px;
  --text-button-lg--line-height: 180%;
  --text-button-lg--font-weight: 500;

  --text-button-sm: 14px;
  --text-button-sm--line-height: 180%;
  --text-button-sm--font-weight: 500;

  --text-overline-lg: 16px;
  --text-overline-lg--line-height: 180%;
  --text-overline-lg--font-weight: 500;

  --text-overline-sm: 12px;
  --text-overline-sm--line-height: auto;
  --text-overline-sm--font-weight: bold;

  --text-englishnum: 18px;
  --text-englishnum--line-height: auto;
  --text-englishnum--font-weight: 500;
}

.active_page {
  color: var(--color-primary);
  border-bottom: var(--color-primary) 2px solid;
}
